.list-product-cart {
    background-color: #fcf8fd;
    margin: auto;
    position: relative;
}
.icon-green {
    width: 404px;
    position: absolute;
    top: -7%;
    right: 75%;
  }
  
.list-product-cart h1 {
    text-align: center;
}

table tr td {
    line-height: 2rem;
    border: 1px solid #ccc;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

tr {
    text-align: center;
}

th {
    width: 1%;
    white-space: nowrap;
    text-align: center;
}

td {
    width: 1%;
    /* white-space: nowrap; */
    text-align: center;
}
.image-cart {
    width: 60px;
}

.btn-amount {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    color: white;
    background-color: black;
    cursor: pointer;
}
.inputAmount {
    width: 25px;
    height: 21px;
    text-align: center;
    border: 1px solid #ccc;

}
.btn-delete {
    background: brown;
    color: white;
    border: 2px solid brown;
    cursor: pointer;
    height: 43px;
    margin-top: 42px;
    border-radius: 10px;
    font-weight: 500;
}
.btn-payment {
    background: black;
}
.btn-clear {
    background-color: brown;
}
.btn-clear, .btn-payment {
    height: 40px;
    width: 100px;
    color: white;
    border-radius: 20px;
    border: 1px;
    margin-left: 20px;
    cursor: pointer;
}
.btn-function {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.cart-total {
    display: flex;
    justify-content: flex-end;
    font-size: 29px;
    font-family: "cursive";
    color: brown;
}
.list {
    text-align: center;
    padding-top: 20px;
}
.listCart {
    width: 90%;
    margin: 0 auto;
}
.cart-empty {
    width: 10%;
}
.btn-buynow {
    width: 15%;
    height: 50px;
    background: #dc2a2a;
    border-radius: 35px;
    color: white;
    border: 0;
    font-weight: 500;
    cursor: pointer;
}
.pay-cart {
    text-align: right;
}
.list p {
    color: gray;
}